body {
    background-image: url(background.mp4);
  }

#audio {
    display: flex;
    justify-content: center;
    align-items: center;
}

audio {
    width: 33%;
}

audio:hover {
    audio:hover {transform: scale(1.1);filter: drop-shadow(2px 3px 3px #333);}
}

 .end {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1vw; 
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 5px solid white;
    padding: 10px 0;
    width: 47.5%;
    margin: auto;
 } 

  p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 4vw; 
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 5px solid white;
    padding: 10px 0;
    width: 47.5%;
    margin: auto;
  }
  
  img {
    width: 22.5%;
    height: 300px;
    margin: 1.25%;
  float: left;
  -webkit-filter: blur(1px);
	filter: blur(1px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

img:hover {
  -webkit-filter: blur(0);
	filter: blur(0);
  transform: scale(1.2); 
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(40%);
  }